@font-face {
    font-family: 'Knewave';
    src: url(Knewave-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jua';
    src: url(Jua-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Jua", "Poppins", serif;
    font-style: bold;
    font-size: 64px;
    color: #e2939a;
    text-shadow: 5px 5px 5px #6d3e27;
}

h2,h3{
    font-family: "Jua", "Arial", sans-serif;
    color: #1f2209;
}

hr {
    border: none;
    height: 4px;
    background-color: #1f2209;
}

p {
    font-family: "Arial", sans-serif;
}

body {
    background-color: #9A5E40;
}