/* Global Styles */
body {
  max-width: 100%;
  margin : 0;
  background: #f5eee3;
  padding: 5vw;
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.6;
  color: #333;
}

/* Overcomplicated header */
header {
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  margin-bottom: 50px;
}

#title {
  font-family: Arial, Georgia, serif;
  font-weight: 900;
  font-size: clamp(3rem, 10vw, 8rem);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

#title #the {
  font-size: 1.5rem;
  background: #0C090A;
  color: #FFFDD0;
  padding: 5px 8px;
}

#title #surf {
  background: #163a70;
  color: white;
}

#title #board {
  background: #0C090A;
  color: #FFFDD0;
}

#quote {
  color: #C11B17;
  font-size: 1.5rem;
  max-width: 25vw;
  margin-top: 1rem;
}

/*Main Grid Layout*/
main {
  display: flex;
  column-gap: 30px;
}

#mini-golf,
#collector,
#book,
#semper-fido {
  flex:1;
}

#mini-golf {
  order: 1;
}

#collector,
#book {
  flex:2;
  display:block
}

#collector {
  order:2;
}

#book {
  order:3;
}

#semper-fido {
  order: 4;
}

.middle-column {
  display:flex;
  flex-direction: column;
  gap:30px;
  flex:2;
}

/*Section Styling*/
section {
  background: #f1e5d4;
  padding: 2rem;
  border-radius: 8px;
}

section h3 {
  margin-bottom: 1rem;
}

/*Image + Text Layout*/
#collector-body,
#fido-body,
#golf-body {
  display: block;
  gap: 1rem;
  align-items: start;
}

@media (max-width: 720px) {
  main {
    flex-direction: column;
  }
}

/*Images*/
img {
  width: 180px;  
  height: auto;
  border-radius: 4px;
  display: inline-block;
  margin: 0 12px 6px 0;
  vertical-align: top;
}

#fido,
#golf {
  width: 25vw;
  height: auto;
}

#cereal {
  width: 30vw;
  height: auto;
}

/*Big letters*/
section p:first-of-type::first-letter {
  float: left;
  font-size: 60px;
  line-height: 0.8;
  padding-right: 8px;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem 0;
  background: #eee;
  margin-top: 50px;
}