h1 { 
    color:#f06543;
    font-family: sans-serif;
    border-bottom: 1px solid #03045e;
}
h2{
    color:#f06543;
}
blockquote { 
    background-color: #f4f1bb;
    padding: 1rem;
}
hr{
    color: #03045e;
}
a{
    color:#03045e;
}
main, header, footer{
    border:1px solid black;
    margin: 0 auto;
    width: 80vw;
    padding: 1rem;
}
body{
    background-color:#e6ebe0;
}
#publishing-info{
    background-color: #f4f1bb;
}
#dig-dug-art{
    width:100px;
    height:auto;
}
#fygar-inflate{
    width:600px;
    height:auto;
}
footer{
    background-color: #f4f1bb;
}